<div class="headline">
  <div class="jumbotron">
    <h1 class="display-3">MOVIMP</h1>
    <hr class="my-4">
    <p>鑑賞した映画のレビューを記録して、みんなで共有しよう！</p>
    <p class="lead mt20">
      <div class="btn btn-primary btn-lg" role="button"><%= link_to "レビュー一覧", reviews_path %></div>
    </p>
  </div>
</div>

<% if notice != nil || alert != nil %>
  <div class="container-fluid">
    <div class="alert alert-warning" role="alert">
      <p><%= notice %><%= alert %></p>
    </div>
  </div>
<% end %>

<div class="container-fluid">
  <div class="row flex">
    <% @reviews.first(4).each do |review| %>
      <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="clearfix mb20">
              <% unless review.photo.blank?  %>
                <div class="image flt-l mr20"><%= image_tag(review.photo) %></div>
              <% else %>
                <div class="image flt-l mr20"><%= image_tag 'no-image.jpg' %></div>
              <% end %>

              <div class="image review-list">
                <h2 class="h4"><%= review.movie %></h2>
                <p class="">
                  <% if review.star == 1 %>
                    <%= image_tag 'star1.png' %>
                  <% elsif review.star == 2 %>
                    <%= image_tag 'star2.png' %>
                  <% elsif review.star == 3 %>
                    <%= image_tag 'star3.png' %>
                  <% elsif review.star == 4 %>
                    <%= image_tag 'star4.png' %>
                  <% elsif review.star == 5 %>
                    <%= image_tag 'star5.png' %>
                  <% end %>
                </p>
                <h2 class="review-ttl"><%= link_to review_path(review) do %><%= review.title %><% end %></h2>
                <p class="review-body"><%= review.content %></p>
              </div>
            </div>
            <!-- <p><%= review.created_at.strftime("%y/%m/%d %p %l:%M") %></p> -->
            <div class="mb20">
              <% if user_signed_in? %>
                <% if review.user_id == current_user.id %>
                  <%= link_to "編集する", edit_review_path(review.id) %>
                  <%= link_to "削除する", review_path(review.id), method: :delete, data: { confirm: '本当に削除していいですか？'} %>
                <% end %>
              <% end %>
            </div>
            <div class="clearfix">
              <p class="flt-l thumbnail-ava"><%= profile_img(review.user) if review.user %></p>
              <p><%= link_to review.user.name, review.user if review.user %></p>
            </div>
            <p class="tal-r"><%= link_to review_path(review) do %>コメントをする<% end %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <%= link_to "レビュー一覧", reviews_path %>
  ｜
  <%= link_to "投稿する", new_review_path %>
</div>
