<%= form_for([review, comment], remote: true) do |f| %>
  <% if comment.errors.any? %>
    <div class="alert alert-warning" role="alert">
      <h3><%= comment.errors.count %>件のエラーがあります。</h3>

      <ul>
      <% comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :review_id %>
  <div class="field mb20">
    <%= f.text_area :content, :size => "20x10", class: "form-control", placeholder: "コメント" %>
  </div>
  <div class="actions tal-c">
    <%= f.submit "コメントする", class: 'btn btn-primary' %>
  </div>
<% end %>
