<div class="ttl">
  <div class="container-fluid mb20">
    <h1>ユーザ詳細情報</h1>
  </div>
</div>

<div class="container">
  <ul class="mb20">
    <li class="tal-c mb20"><%= profile_img(@user) %></li>
    <li class="tal-c">ユーザー名：<%= @user.name %></li>
  </ul>

  <div class="panel panel-default">
    <h2 class="h4 panel-heading" style="margin: 0;">フォロー一覧</h2>
    <div class="panel-body">
      <div class="row">
        <% @user.followed_users.each do |user| %>
          <div class="col-md-2 col-sm-2">
            <p><%= profile_img(user) %></p>
            <p><%= link_to user.name, user %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <h2 class="h4 panel-heading" style="margin: 0;">フォロワー一覧</h2>
    <div class="panel-body">
      <div class="row">
        <% @user.followers.each do |user| %>
          <div class="col-md-2 col-sm-2">
            <p><%= profile_img(user) %></p>
            <p><%= link_to user.name, user %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <p><%= link_to "ユーザ一覧へ戻る", users_path %></p>
</div>
