<% if notice != nil %>
  <div class="container-fluid mb20">
    <div class="alert alert-warning" role="alert">
      <p><%= notice %></p>
    </div>
  </div>
<% end %>

<div class="container">
<%= form_for(@review, url: choose_new_or_edit) do |f| %>
  <% if @review.errors.any? %>
    <div class="alert alert-warning" role="alert">
      <h3><%= @review.errors.count %>件のエラーがあります</h3>
      <ul>
        <% @review.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.label :映画＊ %>
  <%= f.text_field :movie, class: 'form-control' %>
  <br>
  <%= f.label :評価＊ %><br>
  <label><%= f.radio_button :star, "1" %>最低　</label>
  <label><%= f.radio_button :star, "2" %>悪い　</label>
  <label><%= f.radio_button :star, "3" %>普通　</label>
  <label><%= f.radio_button :star, "4" %>良い　</label>
  <label><%= f.radio_button :star, "5" %>最高</label>
  <br><br>
  <%= f.label :タイトル＊ %>
  <%= f.text_field :title, class: 'form-control' %>
  <br>
  <%= f.label :感想 %>
  <%= f.text_area :content, :size => "20x10", class: 'form-control' %>
  <br>
  <%= f.label :画像 %>
  <%= f.file_field :photo %>
  <br>
  <p class="tal-c"><%= f.submit "投稿する", class: 'btn btn-primary' %></p>
<% end %>
<div class="tal-r mt20">
  <%= link_to "レビュー一覧画面", reviews_path %>
</div>
</div>
