<div class="ttl">
  <div class="container-fluid mb20">
    <h1>確認画面</h1>
  </div>
</div>

<div class="container">
<p class="tal-c mb20">以下の内容で、送信します</p>
<%= form_for(@review) do |f| %>
  <!-- `f.hidden_field`を使用して、リクエストパラメータに値を設定できるようにしています。 -->
  <%= f.hidden_field :movie %>
  <%= f.hidden_field :star %>
  <%= f.hidden_field :title %>
  <%= f.hidden_field :content %>
  <%= f.hidden_field :photo %>
  <!--新規投稿すると画像がアップロードできない。
  # 編集で画像をアップロードすると正常にアップロードできる。
  # という現象の際は下記の1行を追記すると解決できる。https://teratail.com/questions/71110 -->
  <%= hidden_field_tag :"cache[photo]", @review.photo.cache_name %>

  <!-- @review.titleと@review.contentとすることで、表示用の値を画面に出力しています。 -->
  <p>映画:<%= @review.movie %></p>
  <p>評価:<%= @review.star %></p>
  <p>タイトル:<%= @review.title %></p>
  <p>本文:<%= @review.content %></p>
  <p>画像:<%= @review.photo %></p>
  <%= f.submit "投稿する", class: 'btn btn-primary mb20' %>
<% end %>

<%= form_for(@review, url: new_review_path, method: 'get') do |f| %>
  <%= f.hidden_field :movie %>
  <%= f.hidden_field :star %>
  <%= f.hidden_field :title %>
  <%= f.hidden_field :content %>
  <%= f.hidden_field :photo %>
  <!--新規投稿すると画像がアップロードできない。
  # 編集で画像をアップロードすると正常にアップロードできる。
  # という現象の際は下記の1行を追記すると解決できる。https://teratail.com/questions/71110 -->
  <%= hidden_field_tag :"cache[photo]", @review.photo.cache_name %>
  <%= f.submit "もどる", name: 'back' %>
<% end %>
</div>
