<div class="ttl">
  <div class="container-fluid mb20">
    <h1>詳細画面</h1>
  </div>
</div>

<% if notice != nil %>
  <div class="container-fluid mb20">
    <div class="alert alert-warning" role="alert">
      <p><%= notice %></p>
    </div>
  </div>
<% end %>

<div class="container mb20">
  <div class="review-list review">
    <% unless @review.photo.blank? %>
      <%= image_tag(@review.photo, class: "image flt-r ml20") %>
    <% else %>
      <%= image_tag 'no-image.jpg', class: "image flt-r ml20" %>
    <% end %>
    <h2 class="h4"><%= @review.movie %></h2>
    <p class="">
      <% if @review.star == 1 %>
        <%= image_tag 'star1.png' %>
      <% elsif @review.star == 2 %>
        <%= image_tag 'star2.png' %>
      <% elsif @review.star == 3 %>
        <%= image_tag 'star3.png' %>
      <% elsif @review.star == 4 %>
        <%= image_tag 'star4.png' %>
      <% elsif @review.star == 5 %>
        <%= image_tag 'star5.png' %>
      <% end %>
    </p>
    <h2><%= @review.title %></h2>
    <p class="left"><%= @review.content %></p>
  </div>
</div>

<p class="container mb20">作成時間:<%= @review.created_at.strftime("%y/%m/%d %p %l:%M") %></p>

<div class="container mb20">
  <div class="clearfix">
    <p class="flt-l thumbnail-ava"><%= profile_img(@review.user) if @review.user %></p>
    <p><%= link_to @review.user.name, @review.user if @review.user %></p>
  </div>
</div>

<div class="container mb20">
  <% if current_user.id == @review.user_id %>
    <%= link_to "編集する", edit_review_path(@review) %> |
    <%= link_to "削除する", review_path(@review.id), method: :delete, data: { confirm: '本当に削除していいですか？'} %>
  <% end %>
</div>

<div class="container">
  <div class="panel panel-default">
    <h2 class="h4 panel-heading" style="margin: 0;">コメント一覧</h2>

    <div class="panel-body" style="padding: 20px;">
      <div id="comments_area">
        <%= render partial: 'comments/index', locals: { comments: @comments, review: @review } %>
      </div>
    </div>

    <div style="padding: 20px;">
      <%= render partial: 'comments/form', locals: { comment: @comment, review: @review } %>
    </div>
  </div>
  <%= link_to '戻る', reviews_path %>
</div>
