<p id="notice"><%= notice %></p>
<div class="child row">
  <div class="wrapper col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
    <div class="review-text">
      <p class="left"><strong>タイトル</strong></p>
      <p class="left"><%= @review.title %></p>
      <p class="left"><strong>感想</strong></p>
      <p class="left"><%= @review.content %></p>
      <p class="right">
        <strong>作成時間:</strong>
        <%= @review.created_at.strftime("%y/%m/%d %p %l:%M") %>
      </p>
    </div>
    <p>コメント一覧</p>
    <div id="comments_area">
      <%= render partial: 'comments/index', locals: { comments: @comments, review: @review } %>
    </div>
    <%= render partial: 'comments/form', locals: { comment: @comment, review: @review } %>
    <% if current_user.id == @review.user_id %>
      <%= link_to '編集', edit_review_path(@review) %> |
    <% end %>
    <%= link_to '戻る', reviews_path %>
  </div>
</div>
